@charset "UTF-8";
/*******************************************
 *******************************************
 *
 * @File: FlatPro by themeum.
 *
 * This file contains the styling for the actual theme, this
 * is the file you need to edit to change the look of the
 * theme.
 *
 * This files contents are outlined below >>>
 *
 *******************************************
 *******************************************
 *
 * == INDEX PAGE CSS
 *
 * 00 - 00 - common & reset css
 * 01. header
 * 02. hero-area 
 * 03. brand-area
 * 04. service-area
 * 05. portfolio-area
 * 06. testimonial-area
 * 07. faq-area
 * 08. footer-top
 * 09. tabs-area
 * 10. about-area
 * 11. team-area
 * 12. contact-area
 * 13. skill-area
 * 14. pricing-area
 * 15. extra */
/*****************************
 *   00 - common & reset css
 *****************************
 *
 */
.c1 {
  color: #2d3666; }

.c1-bg {
  background-color: #2d3666; }

.c1-bo {
  border-color: #2d3666 !important; }

.c2 {
  color: #222538; }

.c2-bg {
  background-color: #222538; }

.c2-bo {
  border-color: #222538 !important; }

.c3, #menu ul ul li a:hover, .single-service.bordered .inner:hover .icon, .bordered.single-service-2 .inner:hover .icon, .bordered.single-service-3 .inner:hover .icon,
.single-service.bordered .inner:hover h4,
.bordered.single-service-2 .inner:hover h4,
.bordered.single-service-3 .inner:hover h4, .single-service-3 .inner:hover .title .icon, .isotope-menu li.active, .isotope-menu li:hover, .single-portfolio .inner .portfolio-img .hover-content .button, .single-portfolio .inner .portfolio-content h3:hover, .faq-sidebar li a, .single-pricing .inner a.button:hover, .single-pricing-2 .inner a.button:hover, .single-pricing-2.active .inner a.button {
  color: #1ddba6; }

.c3-bg, .bg1, .button, .hero-slider .owl-dots .owl-dot.active, .single-service-2:hover .inner, .single-portfolio .inner .portfolio-img .hover-content, .faq .single-item.active, .single-faq h2 span, .footer_widget .nw_form button, .tabs-area .tabs-nav li a.active, .single-team .inner .team-img::after, .single-pricing.active .inner, .active.single-pricing-2 .inner, .single-pricing-2.active .inner .title .price {
  background-color: #1ddba6; }

.c3-bo, .button, .single-service.bordered .inner:hover, .bordered.single-service-2 .inner:hover, .bordered.single-service-3 .inner:hover, .testimonial-slider .single-slide, .tabs-area .tabs-nav li a::after, .tabs-area .tabs-nav li a.active, .contact-form input:not([type="submit"]):focus,
.contact-form textarea:focus {
  border-color: #1ddba6 !important; }

.trns, .button, .button-2, .nav-column a, .nav-column span, .nav-column .right-nav span, form.search-form, #menu ul > li > a, #menu ul ul, #menu ul ul::after, #menu ul ul li a, .hero-slider .owl-dots .owl-dot, .single-service .inner, .single-service-2 .inner, .single-service-3 .inner, .single-service .inner .title .icon, .single-service-2 .inner .title .icon, .single-service-3 .inner .title .icon, .single-service .inner .title h4, .single-service-2 .inner .title h4, .single-service-3 .inner .title h4, .single-service .inner .content, .single-service-2 .inner .content, .single-service-3 .inner .content, .isotope-menu li, .single-portfolio .inner .portfolio-img .hover-content, .single-portfolio .inner .portfolio-content h3, .faq-sidebar li a, .single-team .inner .team-img::after, .contact-form input:not([type="submit"]),
.contact-form textarea {
  -webkit-transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
  transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s; }


@keyframes spinner_preloader {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(720deg); } }
/* button */
.button {
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  border: 2px solid;
  color: #fff;
  border-radius: 3px;
  font-weight: 400; }
  .button:hover {
    color: #fff;
    background-color: #333;
    border-color: #333 !important; }
  @media only screen and (max-width: 767px) {
    .button {
      font-size: 13px;
      padding: 0 15px;
      line-height: 32px; } }

.button-2 {
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  border: 2px solid;
  color: #fff;
  background-color: transparent;
  border: 2px solid #c1c2c5;
  color: #2d3666;
  border-radius: 3px;
  font-weight: 400; }
  .button-2:hover {
    color: #fff;
    background-color: #333;
    border-color: #333; }
  @media only screen and (max-width: 767px) {
    .button-2 {
      font-size: 13px;
      padding: 0 15px;
      line-height: 32px; } }



/* #menu ul {
  text-align: right;
  margin: 0; }
  #menu ul li.has-child > a::after {
    content: "";
    font-family: "fontawesome";
    margin-left: 4px; }
  #menu ul > li {
    display: inline-block;
    position: relative; }
    #menu ul > li > a {
      padding: 0 15px;
      font-weight: 500;
      line-height: 25px; }
      #menu ul > li > a:hover {
        color: #b5c3d4; }
    #menu ul > li.current-menu-item > a {
      color: #b5c3d4; }

#menu ul ul {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: calc(100% + 23px);
  z-index: 2;
  width: 220px;
  text-align: left;
  padding: 15px 20px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); }
  #menu ul ul::after {
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #fff;
    left: 25px;
    top: -16px;
    position: absolute; }
  #menu ul ul::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top: -20px; }
  #menu ul ul li {
    display: block; }
    #menu ul ul li a {
      display: block;
      font-weight: 300;
      color: #222538;
      font-size: 13px;
      padding: 0;
      margin: 5px 0; }

#menu ul li:hover > ul {
  opacity: 1;
  visibility: visible; } */

/*****************************
 *   02. hero-area
 ***************************** */




/*# sourceMappingURL=main.css.map */
